.nav {
    position: fixed;
    height: 100%;
    width: 192px;
    z-index: 2;
}
.border-line {
    position: absolute;
    width: 100%;
    top: 15%;
    height: 70%;
    border-right: 2px solid #60E280;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items {
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.nav a {
    font-family: 'Roboto Mono', monospace;
    font-size: 15pt;
    color: #ffffff;
}
.current-section-dot {
    position: relative;
    width: 15px;
    height: 15px;
    left: 135px;
    top: -107.5%;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
@keyframes movedot{
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 51px);
    }
}